@media screen and (max-width: 1441px) {
  .btn {
    margin-left: 0;
  }
  .contact-social {
    backdrop-filter: blur(0) saturate(0%);
    background-color: transparent;
    border: none;
  }
}
@media screen and (max-width: 1024px) {
  #contact-container {
    height: 75%;
  }
  .contact-text {
    height: 80px;
  }
  #input-email {
    margin-top: 0;
  }
  .contact-text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  #contact-container {
    width: 90%;
    height: 75%;
  }
  .fa-contact {
    height: 60px;
  }
}

@media screen and (max-width: 546px) {
  .nav-item-tooltip {
    top: 33px;
    background: transparent;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
    color: var(--white);
    padding: 0 0.3rem;
    font-size: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
  }
  .nav-item:hover .nav-item-tooltip {
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
  }
  .nav-item-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
  }
  .nav-container {
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 426px) {
  .contact-section .contact-social {
    width: 60%;
    height: 60px;
  }
  .contact-input {
    width: 95%;
  }
  .contact-section {
    flex-direction: row;
    display: flex;
    width: 250px;
  }
  .alert-toast {
    width: 95%;
  }
}

@media screen and (max-width: 358px) {
  #contact-container {
    width: 95%;
  }
  .contact-section {
    width: 280px;
  }
}
